/* 自己定义的CSS Document */
.printTable{font-family:'宋体'; font-size:11pt;}
.printTitle1{font-size:20pt; font-family:'宋体'; font-weight:bold}
.printTitle2{font-size:14pt; font-family:'宋体'; font-weight:bold}
.printTitle3{font-size:12pt; font-family:'宋体'; font-weight:bold}